.containerBanner{
    width: 100vw;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.bannerContent{
    position:absolute; 
    top:70%; 
    left:40%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
}
.buttonHolder{
    display: inline-block;
    flex-direction: column;
}
.bannerImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blurOverlay{
    /* border: solid 1px red; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, transparent, #020E27);
}
.movieMetaData{
    font-size: 13px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(200,200,200, 0.5);
    display: inline-block;
}
.movieDetails{
    /* position: absolute; */
    border: solid 1px green; 
    max-width: 60%;
    top: 0;
    left: 0;
}