.opener {
  display: flex;
  border: 1px yellow solid;
}
.openerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 400px;
  gap: 2rem;
  margin-left: 12.9rem;
}
.openerContent h2 {
  word-spacing: 4px;
  line-height: 2rem;
}
.getStartedBtn {
  max-width: 150px;
  background-color: #ae26f2;
  border-style: none;
}
.threePopularMovies {
  border: 1px purple solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.threePopularMovies img {
  position: absolute;
  width: 100px;
  height: auto;
  transform-origin: 50% 50%; /* Setzt den Ursprung der Transformation in die Mitte des Bildes */
}

.threePopularMovies img:nth-child(2) {
  transform: rotate(120deg) translate(0%, -60%) rotate(-120deg);
}

.threePopularMovies img:nth-child(3) {
  transform: rotate(240deg) translate(-50%, -50%) rotate(-240deg);
}
.lists {
}
.singleListDiv {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item img {
  display: block;
  height: 200px;
  width: auto;
  object-fit: cover;
}
/* Überlappung der Ecken in der Mitte */
/* .threePopularMovies img:nth-child(1),
.threePopularMovies img:nth-child(2),
.threePopularMovies img:nth-child(3) {
  z-index: 1;
  margin: -20px;
} */
