.opener {
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin: 4rem 0rem 4rem 0rem;
}

.openerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.5rem 0rem 4.5rem 0rem;
  width: 1456px;
  gap: 2.5rem;
}

.openerContent h2 {
  word-spacing: 4px;
  line-height: 2rem;
}

.getStartedBtn {
  max-width: 150px;
  background-color: #ae26f2;
  border-style: none;
}

.threePopularMovies {
  display: inline-block;
  /* margin-left: 100px; */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-18%);
}

.threePopularMovies img {
  position: absolute;
  width: 100px;
  height: auto;
  transform-origin: 50% 50%;
}

.threePopularMovies>img:nth-child(1) {
  transform: translate(-100%, -50%) translate(-50px, -50px);
}
.threePopularMovies>img:nth-child(2) {
  transform: translate(-100%, -50%);
}

.threePopularMovies>img:nth-child(3) {
  transform: translate(-100%, -50%) translate(-35px, 35px);
}

.lists {
  border: 3ßx solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.container {
  height: 340px;
  width: 100%;
}

.container h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.singleListDiv {
  display: flex;
  gap: 1.5rem;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;
  
}
@media (max-width: 768px) {
  .singleListDiv {
    /* Adjust styles for smaller screens */
    overflow-x: auto;
    /* You can add more responsive styles here */
  }
}
@media (max-width: 768px) {
  .openerContent {
    margin: 2rem auto; /* Adjust margin for better spacing */
  }

  .lists {
    gap: 3rem; /* Increase gap between list items */
  }

  .item {
    width: 140px; /* Decrease item width for better fit on smaller screens */
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 160px;
  margin-bottom: 10px;
}

.item p {
  margin-top: 0.5rem;
  max-width: 100%;
  word-wrap: break-word;
}

.item .imageWrapper {
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.link {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.link:hover .imageWrapper>img {
  transform: scale(1.1);
}

.link:last-child .item {
  margin-right: 0px;
}