.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  z-index: 2;
  margin-top: 10px;
}

.searchWrapper {
  flex: 1;
}

.logoButton {
  text-decoration: none;
  color: white;
}

